body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(192, 187, 187);
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


main{display: flex;
text-align: center;
height: 150px;
justify-content: space-between;
font-size: 30px;
}

header{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
header img{
    width: auto;
    height: auto;
}

#list-btn{
    width: 200px;
    height: 50px;
    background-color: rgb(9, 9, 96);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
#list-btn:hover{
    background-color: rgb(59, 108, 254);
}

.promo1{
    border: 4px solid rgb(8, 8, 110);
    border-radius: 7px;
    height: 250px;
    width: 500px;
    margin: 40px;
    padding-top: 40px;
    color: rgb(192, 187, 187);
    text-align: center;
    background-color:rgb(8, 8, 110);
}

.promo2{
    border: 4px solid rgb(8, 8, 110);
    border-radius: 7px;
    height: 250px;
    width: 500px;
    margin: 40px;
    padding-top: 40px;
    color: rgb(192, 187, 187);
    background-color:rgb(8, 8, 110);
}

.promo3{
    border: 4px solid  rgb(8, 8, 110);
    border-radius: 7px;
    height: 250px;
    width: 500px;
    margin: 40px;
    padding-top: 40px;
    color: rgb(192, 187, 187);
    background-color:rgb(8, 8, 110);
}

.detail {
    color:  rgb(8, 8, 110);
    background-color:rgb(192, 187, 187); 
    border: 2px solid rgb(8, 8, 110);
    border-radius: 5px;
    font-size: 20px; 
    padding: 10px 20px; 
    width: 150px; 
    height: 50px; 
    cursor: pointer;
}

.modif{
    color:  rgb(8, 8, 110);
    background-color:rgb(192, 187, 187); 
    border: 2px solid rgb(8, 8, 110);
    border-radius: 5px;
    font-size: 20px; 
    padding: 10px 20px; 
    width: 150px; 
    height: 50px; 
    cursor: pointer;

}

.supp{
    color:  rgb(8, 8, 110);
    background-color:rgb(192, 187, 187); 
    border: 2px solid rgb(8, 8, 110);
    border-radius: 5px;
    font-size: 20px; 
    padding: 10px 20px; 
    width: 150px; 
    height: 50px; 
    cursor: pointer;
}

.reseaux img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content {
    flex: 1;
}

footer{
    background-color: rgb(9, 9, 96);
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;

}